body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	padding-left: 16%;
	background-image: url(Fotolia_24529600_2.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	}


.container, .perso {
	float: left;
	width: 45%;
	margin: 1% 2%;
	color:  #444;
	text-shadow: 0em 0em  0.1em #414;
	background: #fff;
	height: 128px;
	box-shadow: 0 0 0.3em #414;
}

.container a, .perso a {
	text-shadow: none; 0.1em 0.1em  0.1em #128;
}

.container.long {
	height: 256px;
}


.container >  p, .perso > p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.perso > h1, .container > h1 {
	font-size: 24px;
}

.container > h1 {
	margin: 12px;
}

.container > ul > li {
	list-style-type: none;
}
.perso img {
	float: left;
	width: 128px;
	height: 128px;
	margin-right: 16px;
}