article(class="small")
  div(class="title clear")
    h1(class="fa fa-lg "+ restaurant.icon)= " " + restaurant.title
    a(class="small button fa fa-map-marker fa-lg", href="//maps.google.com/?q=" + restaurant.address) &nbsp;
    a(class="small button fa fa-phone fa-lg" href="tel:" + restaurant.tel) &nbsp;

  div(class="img clear")
    img(alt="photo", onclick="expend(this)", src="photos/" + restaurant.photo + ".jpg")

  div(class="info clear")
    address
      p(class="fa fa-phone")
        a(href=restaurant.tel)= " " + restaurant.tel
      br
      p(class="fa fa-map-marker")
        a(href="//maps.google.com/?q=" + restaurant.address, target="_blank")= " " + restaurant.address
    if restaurant.ouvertures
      span Ouverture:
        ul
          each ouverture in restaurant.ouvertures
            li= ouverture
